In [1]:
import os
import pandas as pd
import datetime as dt

In [2]:
class FixMyTables():

    def __init__(self,df):
        self.df = df

    def clean_column_names(df):
        df = df.copy()
        df.columns = [str(i).strip().lower().replace(' ','_') for i in df.columns]
        return df

    def transform_column_types(df):
        df = df.copy()
        return df.convert_dtypes()

def fix_my_tables_magic(df):

    df = FixMyTables.clean_column_names(df)
    df = FixMyTables.transform_column_types(df)

    return df

In [3]:
easter = fix_my_tables_magic(pd.read_csv('Easters.csv'))
moon = fix_my_tables_magic(pd.read_csv('full_moon.csv'))

In [4]:
easter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   calculation1   324 non-null    Int64
 1   easter_sunday  324 non-null    string
dtypes: Int64(1), string(1)
memory usage: 5.5 KB

In [5]:
easter.calculation1=easter.calculation1.astype('string')
easter.easter_sunday=pd.to_datetime(easter.easter_sunday,format="%d/%m/%Y")

In [9]:
moon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1868 entries, 0 to 1867
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   day     1868 non-null   string
 1   date    1868 non-null   datetime64[ns]
 2   time    1868 non-null   object
dtypes: datetime64[ns](1), object(1), string(1)
memory usage: 43.9+ KB

In [7]:
moon.date=moon.date.str.strip()
moon.date=pd.to_datetime(moon.date,format="%d %B %Y")

In [8]:
moon.time=moon.time.str.strip().str.upper().str[:11].str.strip().str.zfill(11)
moon.time=pd.to_datetime(moon['time'],format='%I:%M:%S %p').dt.time