In [28]:
import os
import pandas as pd

In [29]:
dfs=pd.read_excel("Student Input.xlsx",sheet_name=None)

In [30]:
dfs.keys()

dict_keys(['Student Info', 'Results'])

In [31]:
student_info_df=dfs['Student Info']

In [32]:
results_df=dfs['Results']

In [33]:
student_info_df.columns=student_info_df.columns.str.lower().str.strip().str.replace(' ','_')

In [34]:
results_df.columns=results_df.columns.str.lower().str.strip().str.replace(' ','_')

In [35]:
student_info_df.head(2)

   student_id            full_name    gender    class
0           1   Alice Johnson        Female    10A
1           2   Bob Smith            Male      9B

In [36]:
results_df.head(2)

   student_id  english  economics  psychology
0           1       88         66          72
1           2       76         67          66

In [37]:
all_df=student_info_df.merge(results_df,on='student_id')

In [38]:
all_df.student_id=all_df.student_id.astype('str')

all_df=all_df.groupby('class').mean(numeric_only=True).reset_index().melt(id_vars='class', value_vars=['english','economics','psychology']).copy()

clmnames=['class','subject','grade']
all_df.columns=clmnames

In [39]:
all_df_sorted=all_df.sort_values(by=['subject','grade']).copy()

In [41]:
all_df_sorted['rank']=all_df_sorted.groupby('subject')['grade'].rank(ascending=True, method='min')

In [42]:
all_df_sorted

      class     subject  grade  rank
11   9B       economics   52.4   1.0
10       9A   economics   53.5   2.0
7    10B      economics   54.0   3.0
9    11C      economics   55.2   4.0
8    11A      economics   57.6   5.0
6    10A      economics   60.4   6.0
4        9A     english   68.2   1.0
0    10A        english   70.8   2.0
5    9B         english   73.4   3.0
1    10B        english   77.2   4.0
2    11A        english   78.0   5.0
3    11C        english   79.1   6.0
17   9B      psychology   59.6   1.0
16       9A  psychology   60.9   2.0
14   11A     psychology   61.4   3.0
12   10A     psychology   62.1   4.0
15   11C     psychology   62.9   5.0
13   10B     psychology   70.6   6.0

In [46]:
all_df_sorted.loc[all_df_sorted['rank']==1].drop(columns='rank').reset_index(drop=True).to_csv('preppin data 20230613.csv', index=False)

In [47]:
os.startfile('preppin data 20230613.csv')