In [1]:
# Imports
import os
import pandas as pd
import numpy as np

In [2]:
# Download sheet
# url = ' https://drive.google.com/file/d/1d4ItvcaPATxbFevMOfAIXXpchOh-09D_/view'
# path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
# pd.read_csv(path).to_csv('preppin data week 42.csv')

In [3]:
# Create DF
df = pd.read_csv('preppin data week 42.csv').drop(columns=['Unnamed: 0'])

# Cleaning up
df.columns = [i.lower().strip() for i in df.columns]
df.date = pd.to_datetime(df.date)

In [4]:
# df.pivot_table(columns='session',index=['player','date'],values='score',aggfunc='sum')

In [5]:
# Create full table
all_dates = pd.DataFrame({'date':df.date.unique(),'j':1})
all_sessions = pd.DataFrame({'session':df.session.unique(),'j':1})
all_players = pd.DataFrame({'player':df.player.unique(),'j':1})
sess_dates = all_sessions.merge(all_dates,how='outer')
sess_dates = sess_dates.merge(all_players,how='outer',on='j').drop(columns='j')

# Merge back to fill df
df = sess_dates.merge(df,left_on=['date','session','player'],right_on=['date','session','player'],how='outer')

df['filled'] = np.where(df.score.isna(),'Filled','Not Filled')

In [6]:
# group data anf fill firward
df = df.set_index(['player','session','date']).sort_index().ffill().reset_index()

In [7]:
# Transport data and average
df2 = df.pivot_table(columns=['session'],index=['player','date'],values='score',aggfunc='sum')
df2['avg'] = round(df2.mean(axis=1))
df2

session              Agility  Cardio  Strength Building  avg
player   date
Player 1 2022-01-03      7.0     3.0               10.0  7.0
         2022-01-04      8.0    10.0               10.0  9.0
         2022-01-05      8.0    10.0                5.0  8.0
         2022-01-06      8.0    10.0               10.0  9.0
         2022-01-07      8.0     7.0                5.0  7.0
...                      ...     ...                ...  ...
Player 9 2022-07-25      7.0     9.0                7.0  8.0
         2022-07-26      7.0     8.0                7.0  7.0
         2022-07-27      7.0     4.0                5.0  5.0
         2022-07-28     10.0     4.0                8.0  7.0
         2022-07-29     10.0     4.0               10.0  8.0

[2250 rows x 4 columns]

In [8]:
# Save file
df.to_csv('week 42 output.csv')
df2.to_csv('week 42 output1.csv')

os.startfile('week 42 output.csv')
os.startfile('week 42 output1.csv')