# 2021: Week 30 - Lift Your Spirits
July 28, 2021
Challenge By: Jenny Martin

https://preppindata.blogspot.com/2021/07/2021-week-30-lift-your-spirits.html

Inspiration for Preppin' challenges can come from anywhere. I've recently moved into a block of flats and let me tell you, I spend a lot of time waiting for a lift (or elevator if you're across the pond). It got me pondering whether the lift is operating optimally. Is it better to stay on the floor that you drop passengers until the next time someone calls a lift, or should the lift return to the most common starting floor?

For simplicity, assume that the lift does not stop mid-journey to pick up new passengers, but completes its current trip before starting a new one.

### Requirements
Input the data

Create a TripID field based on the time of day

Assume all trips took place on 12th July 2021

Calculate how many floors the lift has to travel between trips

The order of floors is B, G, 1, 2, 3, etc.

Calculate which floor the majority of trips begin at - call this the Default Position

If every trip began from the same floor, how many floors would the lift need to travel to begin each journey?
e.g. if the default position of the lift were floor 2 and the trip was starting from the 4th floor, this would be 2 floors that the lift would need to travel

How does the average floors travelled between trips compare to the average travel from the default position?
Output the data

In [1]:
import os
import pandas as pd
import shutil
import datetime as dt
envir = os.environ['USERPROFILE']

In [12]:
def copyfiles(filename,to_folder):
    '''
    Copy files from downloads to preppin data folder
    Filename: name of file inside downloads file
    to_folder: Subfolder in the preppin data folder
    '''
    ff = fr'{envir}\downloads\{filename}'
    tf = fr'{envir}\Documents\02 - Weekly\07 - Preppin data\20210803\{filename}'
    
    print(tf, 'moved succesfully')
    
    return shutil.copy(ff,tf)

In [13]:
to_files = copyfiles('2021W30.csv','20210803')

C:\Users\nprol195\Documents\02 - Weekly\07 - Preppin data\20210803\2021W30.csv moved succesfully

In [15]:
to_files

'C:\\Users\\nprol195\\Documents\\02 - Weekly\\07 - Preppin data\\20210803\\2021W30.csv'

In [17]:
df = pd.read_csv(to_files)

In [22]:
# os.startfile(to_files)

In [34]:
del df['date']

In [41]:
df['TripID'] = dt.datetime(2021,7,12)+ pd.TimedeltaIndex(df['Hour'],unit='h')+pd.TimedeltaIndex(df['Hour'],unit='m')

In [42]:
df.head()

   Hour  Minute From To     TripID
0     0       1    G  8 2021-07-12
1     0       2    4  G 2021-07-12
2     0       2   11  G 2021-07-12
3     0       3    B  G 2021-07-12
4     0       4    1  G 2021-07-12

In [46]:
df = df.drop(columns={'Hour','Minute'}).copy()

In [ ]:
df['from_number'] =

In [50]:
floorsmap = {
    'G':0,
    'B':-1   
}

In [52]:
df[['from_num','to_num']] = df[['From','To']].replace(floorsmap)

In [56]:
df[['from_num','to_num']] = df[['from_num','to_num']].astype('int')

In [59]:
df['floors_traveled'] = abs(df['from_num']- df['to_num'])

In [61]:
df['number_of_records'] = 1

In [69]:
df.groupby('from_num').sum().sort_values('number_of_records')

          to_num  floors_traveled  number_of_records
from_num
 3           215              287                 88
-1           280              380                100
 5           268              434                104
 6           327              481                107
 10          253              825                107
 7           280              576                108
 9           282              722                108
 2           343              367                115
 11          371              927                118
 1           345              368                119
 4           331              457                119
 8           209              771                120
 0          3708             3832                665