In [2]:
import os
import pandas as pd

In [200]:
# import data : returns multiple sheets
master_df = pd.read_excel('TC Input.xlsx',sheet_name=None)

In [290]:
# Combine sessions into one DF ; Attendees is a seperate sheet
brain_df = pd.DataFrame()

for k,v in master_df.items():
    if k == 'Attendees': # Create attendees df
        attendee_df = v
        attendee_df['dfname'] = k
    else: # Append session sheets. Save sheet name as dfname column
        df = v
        df['dfname'] = k
        brain_df = brain_df.append(v)

brain_df = brain_df.reset_index(drop=True).copy()

In [291]:
# Create datetime

# Convert dfname to date
brain_df['date'] = pd.to_datetime(brain_df['dfname']+'2021', format='%dth %b%Y')

# Wrangle data for session time. First confert to string, then concatenate strings then parsse to date
brain_df['Session Time'] = brain_df['Session Time'].astype('str')

times_df = brain_df['Session Time'].str.split(':',expand=True)

times_df = times_df.fillna('00')

times_df[0] = times_df[0].str.zfill(2)

times_df['time'] = times_df.agg(':'.join, axis=1)

In [292]:
# Join times table back to main table
brain_df = times_df[['time']].merge(brain_df,left_index=True, right_index=True).copy()

In [293]:
# Join date with time columns
brain_df['datetime'] = brain_df['date'].astype('str') + ' ' + brain_df['time']
brain_df['datetime'] = pd.to_datetime(brain_df['datetime'])

# General clean up, drop columns, reclassify, etc
brain_df = brain_df[['Session ID','Subject', 'Attendee IDs','datetime']].copy().reset_index(drop=True)
brain_df['Session ID'] = brain_df['Session ID'].astype('str')

In [296]:
# unpivot attendee ids so that we can join
ids_df = brain_df['Attendee IDs'].str.split(',',expand=True)
brain_df = brain_df.merge(ids_df,left_index=True,right_index=True)
brain_df = brain_df.melt(id_vars=['Session ID', 'Subject', 'Attendee IDs', 'datetime'], value_vars = [0,1,2,3,4]).reset_index(drop=True).copy()

In [298]:
# Clean up again ....
brain_df = brain_df[['Session ID', 'Subject', 'datetime', 'value']].rename(columns={'value':'attendee id'}).copy()

In [302]:
brain_df = brain_df.dropna(subset=['attendee id']).copy()

In [308]:
attendee_df['Attendee ID'] = attendee_df['Attendee ID'].astype('str')
mergedf = brain_df.merge(attendee_df,left_on='attendee id', right_on='Attendee ID',how='left')[['Session ID', 'Subject', 'datetime', 'Attendee']].copy()

In [313]:
brain_df.merge(attendee_df,left_on='attendee id', right_on='Attendee ID',how='left')

,Session ID,Subject,datetime,attendee id,Attendee ID,Attendee,dfname
0,1030,Desktop,2021-11-10 09:00:00,1,1,Kate,Attendees
1,1302,Prep,2021-11-10 09:30:00,5,5,Will,Attendees
2,1598,Prep,2021-11-10 10:00:00,1,1,Kate,Attendees
3,1727,Desktop,2021-11-10 10:30:00,8,8,Beth,Attendees
4,1760,Prep,2021-11-10 11:00:00,6,6,Carl,Attendees
...,...,...,...,...,...,...,...
225,8605,Community,2021-11-12 13:30:00,21,NaN,NaN,NaN
226,8710,Desktop,2021-11-12 14:00:00,22,NaN,NaN,NaN
227,9213,User Groups,2021-11-12 14:30:00,16,NaN,NaN,NaN
228,9570,Prep,2021-11-12 15:30:00,23,NaN,NaN,NaN
229,9590,Desktop,2021-11-12 16:00:00,18,NaN,NaN,NaN

In [276]:
mergedf[mergedf['Attendee'] == 'Kate'].merge(mergedf[mergedf['Attendee'] == 'Will'],on=('Session ID'),how='outer')

,Session ID,Subject_x,datetime_x,Attendee_x,Subject_y,datetime_y,Attendee_y
0,1030,Desktop,2021-11-10 09:00:00,Kate,NaN,NaT,NaN
1,1598,Prep,2021-11-10 10:00:00,Kate,NaN,NaT,NaN
2,3127,Community,2021-11-10 16:00:00,Kate,NaN,NaT,NaN
3,5822,Server,2021-11-11 15:00:00,Kate,NaN,NaT,NaN
4,7840,DataDev,2021-11-12 11:00:00,Kate,NaN,NaT,NaN
5,8408,Server,2021-11-12 12:30:00,Kate,NaN,NaT,NaN
6,9213,User Groups,2021-11-12 14:30:00,Kate,NaN,NaT,NaN
7,9590,Desktop,2021-11-12 16:00:00,Kate,NaN,NaT,NaN
8,9727,Data+Women,2021-11-12 17:00:00,Kate,NaN,NaT,NaN
9,1302,NaN,NaT,NaN,Prep,2021-11-10 09:30:00,Will
10,2322,NaN,NaT,NaN,Community,2021-11-10 14:00:00,Will
11,4001,NaN,NaT,NaN,User Groups,2021-11-10 17:30:00,Will
12,4254,NaN,NaT,NaN,Desktop,2021-11-11 09:00:00,Will
13,6077,NaN,NaT,NaN,Server,2021-11-11 16:00:00,Will
14,8605,NaN,NaT,NaN,Community,2021-11-12 13:30:00,Will

In [303]:
brain_df

    Session ID      Subject            datetime attendee id
0         1030      Desktop 2021-11-10 09:00:00           1
1         1302         Prep 2021-11-10 09:30:00           5
2         1598         Prep 2021-11-10 10:00:00           1
3         1727      Desktop 2021-11-10 10:30:00           8
4         1760         Prep 2021-11-10 11:00:00           6
..         ...          ...                 ...         ...
241       8605    Community 2021-11-12 13:30:00          21
242       8710      Desktop 2021-11-12 14:00:00          22
243       9213  User Groups 2021-11-12 14:30:00          16
245       9570         Prep 2021-11-12 15:30:00          23
246       9590      Desktop 2021-11-12 16:00:00          18

[230 rows x 4 columns]

In [309]:
mergedf[mergedf['Session ID'] == '1727']

    Session ID  Subject            datetime Attendee
3         1727  Desktop 2021-11-10 10:30:00     Beth
53        1727  Desktop 2021-11-10 10:30:00      NaN
103       1727  Desktop 2021-11-10 10:30:00      NaN
153       1727  Desktop 2021-11-10 10:30:00      NaN
203       1727  Desktop 2021-11-10 10:30:00      NaN

In [307]:
mergedf

   Session ID      Subject            datetime Attendee
0        1030      Desktop 2021-11-10 09:00:00     Kate
1        1598         Prep 2021-11-10 10:00:00     Kate
2        3127    Community 2021-11-10 16:00:00     Kate
3        5822       Server 2021-11-11 15:00:00     Kate
4        7840      DataDev 2021-11-12 11:00:00     Kate
5        8408       Server 2021-11-12 12:30:00     Kate
6        9213  User Groups 2021-11-12 14:30:00     Kate
7        9590      Desktop 2021-11-12 16:00:00     Kate
8        9727   Data+Women 2021-11-12 17:00:00     Kate
9        1302         Prep 2021-11-10 09:30:00     Will
10       2322    Community 2021-11-10 14:00:00     Will
11       4001  User Groups 2021-11-10 17:30:00     Will
12       4254      Desktop 2021-11-11 09:00:00     Will
13       6077       Server 2021-11-11 16:00:00     Will
14       8605    Community 2021-11-12 13:30:00     Will
15       1727      Desktop 2021-11-10 10:30:00     Beth
16       3145      Desktop 2021-11-10 16:30:00     Beth
17       1760         Prep 2021-11-10 11:00:00     Carl
18       5041       Server 2021-11-11 12:30:00     Carl
19       2118      DataDev 2021-11-10 12:30:00    Kelly
20       5607      Desktop 2021-11-11 14:00:00    Kelly
21       5837      DataDev 2021-11-11 15:30:00    Kelly
22       7790         Prep 2021-11-12 10:30:00    Kelly
23       8483    Community 2021-11-12 13:00:00    Kelly
24       9280      DataDev 2021-11-12 15:00:00    Kelly
25       9932    Community 2021-11-12 17:30:00    Kelly
26       2207   Data+Women 2021-11-10 13:00:00      Tom
27       4872   Data+Women 2021-11-11 11:30:00      Tom
28       5279         Prep 2021-11-11 13:30:00      Tom
29       6422  User Groups 2021-11-11 16:30:00      Tom
30       6913   Data+Women 2021-11-11 17:30:00      Tom
31       8208       Server 2021-11-12 11:30:00      Tom
32       2219  User Groups 2021-11-10 13:30:00      Tim
33       2340       Server 2021-11-10 14:30:00      Tim
34       9570         Prep 2021-11-12 15:30:00      Tim
35       2395      Desktop 2021-11-10 15:00:00  Michael
36       2773   Data+Women 2021-11-10 15:30:00  Michael
37       5630  User Groups 2021-11-11 14:30:00  Michael
38       3465      DataDev 2021-11-10 17:00:00     Owen
39       4701      DataDev 2021-11-11 11:00:00     Owen
40       7565       Server 2021-11-12 09:30:00     Owen
41       9721  User Groups 2021-11-12 16:30:00     Owen
42       4467         Prep 2021-11-11 09:30:00    David
43       4603  User Groups 2021-11-11 10:00:00    Donna
44       7584   Data+Women 2021-11-12 10:00:00    Donna
45       4620       Server 2021-11-11 10:30:00   Arsene
46       5088    Community 2021-11-11 13:00:00  Rosario
47       6911         Prep 2021-11-11 17:00:00  Rosario
48       6950      Desktop 2021-11-12 09:00:00  Rosario
49       8710      Desktop 2021-11-12 14:00:00    Jared

In [314]:
attendee_df

   Attendee ID  Attendee     dfname
0            1      Kate  Attendees
1            2       Tom  Attendees
2            3     Kelly  Attendees
3            4       Tim  Attendees
4            5      Will  Attendees
5            6      Carl  Attendees
6            7      Owen  Attendees
7            8      Beth  Attendees
8            9   Michael  Attendees
9           10   Rosario  Attendees
10          11    Arsene  Attendees
11          12     Donna  Attendees
12          13     Jared  Attendees
13          14     Jenny  Attendees
14          15   Shahzad  Attendees
15          16  Jonathan  Attendees
16          17      Andy  Attendees
17          18     David  Attendees
18          19     Diana  Attendees
19          20      Vani  Attendees
20          21      John  Attendees
21          22      Kirk  Attendees
22          23        Mo  Attendees
23          24     Oscar  Attendees
24          25     Katie  Attendees
25          26     Lorna  Attendees
26          27     Sarah  Attendees
27          28      Jack  Attendees
28          29      Ravi  Attendees
29          30      Anya  Attendees

In [306]:
mergedf.to_csv('brain.csv')
os.startfile('brain.csv')

In [249]:
attendee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Attendee ID  30 non-null     int64
 1   Attendee     30 non-null     object
 2   dfname       30 non-null     object
dtypes: int64(1), object(2)
memory usage: 848.0+ bytes