Input data
 - Merge Km's and min's as Minutes
 - Change 'Value' to Mins
 - Split up the unnamed column into:
     - Coach
     - Calories
     - Music Type
 - Change Music Type values to be Title Case (first letter of each word is capitalised)
 - Create three parameters:
 - Music Type
 - Coach
 - Top N 
 - Create a way to return the Top N value selected and order the file with the highest calories burnt at the top
 - Create filters so only the parameter selection remains in the output data set
 - For Top N parameter it's all the values up to that number
 - Output the data but use the parameter values in the file name so the CEO knows what it contains

In [98]:
import os
import pandas as pd

In [99]:
df = pd.read_csv('Preppin data 20220828.csv')

In [100]:
df.columns = [i.strip().lower().replace(' ','_').replace(':','') for i in df.columns]

In [101]:
df.units = 'min'
df = df.rename(columns={'value':'mins'})

In [102]:
df[['coach','calories','music_type']] = df.unnamed_4.str.split('-',expand=True)

In [103]:
df.drop(columns=['unnamed_4','units'],inplace=True)

In [104]:
df.music_type=df.music_type.str.title()

In [122]:
# def make_selection():
activate = 1
while activate == 1:
    selections = {1: 'Music Type',
                  2: 'Coach',
                  3: 'Exit'}
    print('Filter and sort by:')
    for k,v in selections.items():
        print(k,':',v)

    user_selection = int(input())
    
    if user_selection not in list(selections.keys()):
        print('invalid selection, please try again')
   
    elif user_selection in list(selections.keys())[:-1]:
        param_selection = selections[user_selection].lower().replace(' ','_')
        not_selected = [i for i in list(selections.values()) if i not in [selections[user_selection],'Exit']][0].lower().replace(' ','_')
        

        activate = 0
    elif user_selection in list(selections.keys())[-1:]:
        print('you have exited the program')
        activate = 0

top_n = input('Return the top n values: ')

print(f'You have chosen to show the top {top_n} by {param_selection}.')

Filter and sort by:
1 : Music Type
2 : Coach
3 : Exit

 1
Return the top n values:  5

You have chosen to show the top 5 by music_type.

In [133]:
df.loc[df.coach =='Kym ',[param_selection,'calories',not_selected,'date','mins']].sort_values('calories',ascending = False)

          music_type calories coach        date  mins
64   Everything Rock     727   Kym   10/03/2021    45
97    Upbeat Anthems     707   Kym      12/1/22    45
19        Pure Dance     701   Kym   09/01/2021    45
59   Everything Rock     489   Kym   01/03/2021    30
72    Upbeat Anthems     481   Kym   23/04/2021    30
52     Latin Grooves     469   Kym   16/02/2021    30
9     Upbeat Anthems     445   Kym   29/12/2020    30
93   Everything Rock     439   Kym       6/1/22    30
66    Throwback Hits     438   Kym   15/03/2021    30
77    Upbeat Anthems     436   Kym   31/05/2021    30
88   Everything Rock     434   Kym     29/12/21    30
81   Everything Rock     426   Kym   07/06/2021    30
13    Upbeat Anthems     425   Kym   02/01/2021    30
36    Upbeat Anthems     420   Kym   26/01/2021    30
46           Hiphop      419   Kym   05/02/2021    30
91    Upbeat Anthems     417   Kym       4/1/22    30
87    Upbeat Anthems     414   Kym      4/12/21    30
29        Pure Dance     394   Kym   18/01/2021    30
12   Everything Rock     306   Kym   01/01/2021    20
18   Everything Rock     286   Kym   08/01/2021    20
5             Hiphop     271   Kym   21/12/2020    20
41    Upbeat Anthems     239   Kym   01/02/2021    20
3    Everything Rock     232   Kym   18/12/2020    20
54            Hiphop     180   Kym   18/02/2021    10
21   Everything Rock     167   Kym   10/01/2021    10
1    Everything Rock     134   Kym   16/12/2020    10

In [130]:
df.coach.unique()

array(['Bakari ', 'Kym ', 'Gregg ', 'Emily ', 'Sherica ', 'Tyrell '],
      dtype=object)